.bg-container {
    background-image: url('https://i.postimg.cc/NjZdkGfG/lucas-kapla-w-QLAGv4-OYs-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .inner-container {
    margin: 0;
  }
  
  .heading {
    font-family: 'Bree serif';
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #9fdcff;
  }
  
  .input-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .input-style {
    width: 320px;
    height: 30px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 10px;
    padding: 20px;
    border-width: 0;
    background-image: linear-gradient(rgb(255, 255, 255), yellow);
  }
  
  .tabs {
    display: flex;
    flex-direction: row;
  }
  
  .tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .tab-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
  }
  
  .apps-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }