.tab-list-item {
    margin: 15px;
    border-radius: 15px;
    box-shadow: 3px 2px 2px 4px rgb(4, 4, 4);
    list-style: none;
    width: 150px;
    height: 170px;
    background-color: #91fffa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .app-img {
    width: 100px;
    height: 100px;
    margin-top: 30px;
  }
  
  .app-name {
    color: #000000;
    font-family: 'Bree serif';
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }

  .card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: aliceblue;
    height: 70%;
    width: 90%;
  }